@import "./normalize.css";


/* root - 〉获取根元素html* / */
/* 设置变量，使用的时候直接通过 var(xx) */
:root {
    --color-text: #666;
    --color-high-text: #ff577;
    --color-tint: #ff8198;
    --color-background: #fff;
    --font-size: 14px;
    --line-height: 1.5;
}

*,
*::before ， *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}